version: 2
jobs:
  build-node13:
    docker:
      - image: circleci/node:13-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci

  build-node12:
    docker:
      - image: circleci/node:12-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci

  build-node10:
    docker:
      - image: circleci/node:10-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci
      - persist_to_workspace:
          root: "./packages"
          paths:
            # https://golang.org/pkg/path/filepath/#Match
            - xml-for-vscode-*

  deploy:
    docker:
      - image: circleci/node:10-browsers
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run ci
      - run: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/.npmrc
      # To help debug when lerna detects changes to the working tree
      - run: git status
      # the yarn.lock and some other generated files may change due to running
      # the build with the newly commited version numbers
      # resetting the working tree avoids lerna errors due to unclean working trees
      - run: git reset --hard
      - run: yarn run lerna:publish

  deploy-extension:
    docker:
      - image: circleci/golang:1.13
    steps:
      - attach_workspace:
          at: ./dist
      - run:
          name: "Publish Release on GitHub"
          command: |
            go get github.com/tcnksm/ghr
            VERSION=${CIRCLE_TAG}
            ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete ${VERSION} ./dist/

workflows:
  version: 2
  build:
    jobs:
      - build-node13
      - build-node12
      - build-node10
      - deploy:
          filters:
            tags:
              only: /^RELEASE/
            branches:
              ignore: /.*/
      - deploy-extension:
          requires:
            - build-node10
          filters:
            tags:
              only: /^xml-for-vscode@[0-9]+(\.[0-9]+)*/
            branches:
              ignore: /.*/
